*{
  /*font-family: Geneva, Tahoma, Verdana, sans-serif;*/
  /*font-family: Verdana, Geneva, sans-serif;*/
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}

body{
  background-color: #051f60;
  /* fixes scrollbar showing when the events rotate */
  /* overflow: hidden; */
}

/*Contains the rest of the content*/
.container{
  width: 100%;
}

/* Events Title */
h1{
  text-align: center;
  color: #FFF;
}

.nopad{
  padding: 0;
}

.announcement-container{
  padding-left: 3.5em;
}

.event-container{
  padding-right: 3.5em;
}

.even_item{
  background-color: #CFCFCF;
}

.odd_item{
  background-color: #E6E6E6;
}

h1,h3,h4{
  margin-top: 0;
  margin-bottom: 0;
}

h1{
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

#head-row img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 150px;
}

.eventinfo{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.eventinfo h4.pull-right{
  padding-top: 0.7em;
  text-align: right;
}

/* Transitions for showing/hiding items */
.event.ng-hide-add, .event.ng-hide-remove {
  -webkit-transition:all ease-in-out 1s;
  -moz-transition:all ease-in-out 1s;
  -o-transition:all ease-in-out 1s;
  transition:all ease-in-out 1s;
  display:block!important;
}
/* Settings for an item being hidden */
.event.ng-hide-add.ng-hide-add-active,
.event.ng-hide-remove {
  opacity:0;
}
/* Settings for a hidden item being shown*/
.event.ng-hide-add,
.event.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}

img.announcement{
  display: block;
  max-width: 100%;
  max-height: 100%;
}

/*
* Slider Animations
*/

/* Transitions for showing/hiding items */
img.announcement.ng-hide-remove {
  -webkit-transition:all ease-out 1s;
  -moz-transition:all ease-out 1s;
  -o-transition:all ease-out 1s;
  transition:all ease-out 1s;
}
/* Settings for an item being hidden */
img.announcement.ng-hide-add.ng-hide-add-active,
img.announcement.ng-hide-remove {
  margin-left: -100%;
  opacity: 0;
}
/* Settings for a hidden item being shown*/
img.announcement.ng-hide-add,
img.announcement.ng-hide-remove.ng-hide-remove-active {
  margin-left: 0;
  opacity: 1;
}

/*
* Configuration Form Styles
*/
form[name=confForm]{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

form label{
  color: white;
}

form[name=confForm] .help-block{
  color: white;
}
