<section>
<div class="container">
  <div class="row">
    <!-- Logo Section -->
    <div class="col-xs-12 nopad" id="head-row">
        <div ng-include src="'partials/head.html'"></div>
    </div>
    <div class="col-xs-12" id="coldiv">
      <h1>Configuration</h1>
      <form name="confForm" novalidate>

        <div class="form-group">
          <label for="apiUser">CCB API Church Name</label>
          <input type="text" class="form-control" id="ccbChurchName" name="ccbChurchName" placeholder="goodshep" value="{{confSettings.ccb_church}}" required>
        </div>
        <div class="form-group">
          <label for="ccbApiUser">CCB API User</label>
          <input type="text" class="form-control" id="ccbApiUser" name="ccbApiUser" placeholder="user" value="{{confSettings.ccb_user}}" required>
        </div>
        <div class="form-group">
          <label for="ccbApiPass">CCB API Password</label>
          <input type="password" class="form-control" id="ccbApiPass" name="ccbApiPass" placeholder="pass123" value="{{confSettings.ccb_pass}}" required>
        </div>

        <div class="form-group">
          <label for="daysAhead">Days Ahead</label>
          <input type="text" class="form-control" id="daysAhead" name="daysAhead" placeholder="7" value="{{confSettings.days_ahead}}" required>
        </div>
        <div class="form-group">
          <label for="daysFormat">Days of Week Format</label>
          <input type="text" class="form-control" id="daysFormat" name="daysFormat" placeholder="Sun,Mon,Tue,Wed,Thu,Fri,Sat" value="{{confSettings.days_of_week.join(',')}}" required>
        </div>
        <div class="form-group">
          <label for="itemLimit">Item Limit</label>
          <input type="text" class="form-control" id="itemLimit" name="itemLimit" placeholder="4" value="{{confSettings.item_limit}}" required>
        </div>
        <div class="form-group">
          <label for="swapFrequency">Event Swap Frequency <small>(in seconds)</small></label>
          <input type="text" class="form-control" id="swapFrequency" name="swapFrequency" placeholder="4" value="{{confSettings.swap_frequency / 1000}}" required>
        </div>
        <div class="form-group">
          <label for="slideFrequency">Slide Change Frequency <small>(in seconds)</small></label>
          <input type="text" class="form-control" id="slideFrequency" name="slideFrequency" placeholder="4" value="{{confSettings.slide_frequency / 1000}}" required>
        </div>
        <div class="form-group">
          <label for="refreshFrequency">Page Refresh Frequency <small>(in minutes)</small></label>
          <input type="text" class="form-control" id="refreshFrequency" name="refreshFrequency" placeholder="60" value="{{confSettings.page_refresh_frequency / 60000}}" required>
        </div>
        <div class="form-group">
          <label for="headPath">Header Path</label>
          <input type="text" class="form-control" id="headPath" name="headPath" placeholder="images/myhead.jpg" value="{{confSettings.slide_head_img}}" required>
        </div>
        <div class="form-group">
          <label for="slidePath">Slider Path</label>
          <input type="text" class="form-control" id="slidePath" name="slidePath" placeholder="/home/myuser/files/ccb-test" value="{{confSettings.slide_img_path}}" required>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>

      </form>
      <br>
      </div>
    </div>
  </div>
</div>
</section>
