<section class="eventspage">
  <div class="container-fluid">
    <div class="row">
      <div class="loader-overlay col-xs-12 nopad" ng-hide="eventsLoaded">
        <h2>Loading Events...</h2>
        <div class="loader"></div>
      </div>
      <!-- Logo Section -->
      <div class="col-xs-12 nopad" id="head-row">
          <div ng-include src="'partials/head.html'"></div>
      </div>
    </div>
    <div class="row">
      <!-- Slide Section -->
      <div class="col-xs-7 nopad" id="announcement-container" ng-switch="annIndx" ng-animate="'animate'">
        <img class="announcement" ng-repeat="ann in annList" src="{{ann}}" ng-animate="'animate'" ng-show="isCurAnn({{$index}})" />
      </div>

      <!-- Events Section -->
      <div class="col-xs-5 nopad event-container">
        <h1>Upcoming Events</h1>
        <div class="eventlist">
          <div class="event cf"
                ng-animate="'animate'"
                ng-repeat="item in events | orderBy: eventOrder"
                ng-show="inRange({{$index}})"
                ng-attr-id="{{'event-' + $index}}">
                <div ng-class-odd="'col-xs-12 eventinfo odd_item'" ng-class-even="'col-xs-12 eventinfo even_item'">
                  <div class="col-xs-6">
                    <h3>{{item.event_name | uppercase}}</h3>
                    <h4>{{item.display_date}}</h4>
                    <h4>{{item.start_time}} - {{item.end_time}}</h4>
                  </div>
                  <div class="col-xs-6">
                  <h4 class="pull-right">{{item.location}}</h4>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
